@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 393px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Urbanist", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Urbanist", sans-serif;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background: #010512;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-open .wrapper {
  position: relative;
}

.menu-open .wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  background: rgb(5, 14, 43);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 1;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 940px;
  padding-inline: 30px;
  margin: 0 auto;
}

.header {
  background: #050e2b;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header__container {
  min-height: 4.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6.25rem;
     -moz-column-gap: 6.25rem;
          column-gap: 6.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6.25rem;
     -moz-column-gap: 6.25rem;
          column-gap: 6.25rem;
}

.menu__link {
  display: inline-block;
  color: #fff;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.32px;
}

.menu__link_current {
  position: relative;
  font-weight: 500;
}

.menu__link_current::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background: #fd105b;
}

.menu-content {
  display: none;
}

.menu-content__logo img {
  max-width: 4.8125rem;
}

.icon-menu {
  display: none;
}

.page {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (padding-top: clamp( 1.25rem , 0.3519195612rem  +  3.6563071298vw , 2.5rem )) {
  .front {
    padding-top: clamp( 1.25rem , 0.3519195612rem  +  3.6563071298vw , 2.5rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.3519195612rem  +  3.6563071298vw , 2.5rem )) {
  .front {
    padding-top: calc(1.25rem + 1.25 * (100vw - 24.5625rem) / 34.1875);
  }
}

.front__title {
  color: #fff;
  font-weight: 700;
  line-height: normal;
}

@supports (font-size: clamp( 1.125rem , 0.8555758684rem  +  1.0968921389vw , 1.5rem )) {
  .front__title {
    font-size: clamp( 1.125rem , 0.8555758684rem  +  1.0968921389vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.8555758684rem  +  1.0968921389vw , 1.5rem )) {
  .front__title {
    font-size: calc(1.125rem + 0.375 * (100vw - 24.5625rem) / 34.1875);
  }
}

@supports (margin-bottom: clamp( 0.625rem , -0.1383683729rem  +  3.1078610603vw , 1.6875rem )) {
  .front__title {
    margin-bottom: clamp( 0.625rem , -0.1383683729rem  +  3.1078610603vw , 1.6875rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , -0.1383683729rem  +  3.1078610603vw , 1.6875rem )) {
  .front__title {
    margin-bottom: calc(0.625rem + 1.0625 * (100vw - 24.5625rem) / 34.1875);
  }
}

.front__video {
  position: relative;
  padding-bottom: 58.5%;
}

.front__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 61.99875em) {
  .header__container {
    -webkit-column-gap: 4.375rem;
       -moz-column-gap: 4.375rem;
            column-gap: 4.375rem;
  }

  .menu__list {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 58.5%;
    height: 100%;
    top: 0;
    right: 0;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    overflow: auto;
    background-color: #050e2b;
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
    z-index: 5;
    padding-bottom: 2.1875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
    background-color: #050e2b;
    width: 58.5%;
    z-index: 5;
    height: 4.0625rem;
  }

  .menu-open .menu__body {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .menu-open .menu__body::before {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .menu__list {
    padding-inline: 1.875rem;
    padding-top: 5.625rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.75rem;
  }

  .menu-content {
    display: block;
  }

  .menu-content__header {
    position: absolute;
    top: 0;
    z-index: 6;
    width: 58.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    right: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
    padding: 1.9375rem 1.875rem 0;
    background: #050e2b;
  }

  .menu-open .menu-content__header {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .icon-menu {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 29.99875em) {
  .front__video {
    padding-bottom: 56%;
  }
}